anyio
boto3
fastapi
fastmcp
faiss-cpu
langchain-aws
langchain-core
langdetect
langgraph
mcp
numpy
pdf2image
pdfplumber
pillow
pydantic
pytesseract
python-docx
python-dotenv
python-multipart
pyyaml
rapidfuzz
requests
sentence-transformers
sentencepiece
streamlit
torch
transformers
uvicorn
watchdog
